*{
  font-family: "Roboto", sans-serif;
  /*border: 1px solid gray;*/
}

img{
  max-width: 100%;  
}

header{
  grid-area: header;
}

.banner{
 background-color: #eeeade;/*#264353;*/
  grid-area: banner;  
  margin: 10px
}

.flayer{
  display: grid;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

#productos{
 border: 1px solid rgb(106, 108, 103);
  grid-area: section;
}

footer{
 border: 1px solid blue;
  grid-area: footer;
}

#productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    /*margin: 0 200px;*/
}

.item {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color:  #f9f9f9;
    padding: 20px; /* Relleno interno */
    text-align: center; /* Alinear texto al centro */
  }

body{
  display:grid;
  grid-template-areas:
  "header"
  "banner"
  "recomendados"
  "section"
  "footer";
  grid-template-rows: 50px 400px 600px 1fr 150px;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

/*
@media (min-width: 1024px){
  .banner img{
    max-width: 150%;
  }
}

@media (max-width: 2024px) {
  #productos{
    grid-template-columns: repeat(4, 1fr);
  }
}

  @media (max-width: 1024px) {
    body{
      grid-template-areas:
      "header"
      "banner"
      "section"
      "footer";
      grid-template-rows: 100px 300px 1fr 50px;
      grid-template-columns: 1fr;
    }

    #productos{
      grid-template-columns: repeat(3, 1fr);
      margin: 0 100px;
    }

    .flayer{
      margin: 0 auto;
      max-height: 300px;
    }

  }

  @media (max-width: 768px) {
    body{
      grid-template-areas:
      "header"
      "section"
      "banner"
      "footer";
      grid-template-rows: 100px 1fr 300px 50px;
      grid-template-columns: 1fr;
    }

    #productos{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 50px;
    }

    .flayer{
      margin: 0 auto;
      max-height: unset;
    }
  }

  @media (max-width: 480px) {
    #productos{
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }
*/


.producto1{
grid-area: producto1;
display: grid;
background-color: #c3c3c3;/*#e9c46a;*/
margin: 10px;
grid-template-columns: 1fr 1fr;
}

.producto2{
  background-color: #c3c3c3;/*#2a9d8f;*/
  grid-area: producto2;
  margin: 10px;
}

.producto3{
  grid-area: producto3;
  background-color:#d2ba9e ;/*#f4a261;*/
  margin: 10px;
}

.producto4{
  grid-area: producto4;
  background-color: #d2ba9e ;/*#e76f51;*/
  margin: 10px;
}

#recomendados{
  display: grid;
  grid-area: recomendados;
  grid-template-areas:
      "producto1 producto1 producto2"
      "producto3 producto4 producto4";
      grid-template-rows: repeat(1fr,2); 
      grid-template-columns: repeat(1fr,3);
}

.titulo{
  position: relative;
  top: 100px;
  font-size: 1.5em;
}

.subtitulo{
  position: relative;
  top: 115px;
}

.p1{
  position: relative;
  top: 125px;
}

.logo{
  font-size: 34px;
  font-weight: 100;
  font-style: normal;
}

nav{
  display: flex;
  margin-top: 15px;
}

nav div{
  display: inline-block;
}

.menu{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.menu li{
  display: inline-block;
  margin-right: 30px;
  line-height: 39px;
}

.menu li a{
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
}

.menu li:hover{
background-color: #e76f51;
}